body{
font-family: Arial, sans-serif;
direction: ltr;
text-align: center;
background-color: #f0f0f0;
padding: 40px;
}
h1{
margin-bottom: 20px;
}
.from-contaier{

    margin-bottom: 30px;
}
[type="text"]
input{
padding: 10px;
margin: 5px;
font-size: 16px;
width: 200px;
}
button{
padding: 10px 20px;
margin: 5px;
font-size: 16px;
cursor: pointer;
}
table{
width: 90px;
margin: auto;
border-collapse:collapse ;
background-color: aliceblue;
box-shadow: 0 0 10px rgba(0,0,0.1);
}
td ,th{
border:1px solid #0b0a0a;
padding: 12px;
font-size: 16px;
}
th{
background-color: #ffffff;}
input[type=checkbox]{
transform: scale(1.2);
cursor: pointer;
}
.result-box{
margin-top: 20px;
font-size: 18px;
font-weight: bold;
}